# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=AIzaSyDY7rPoNA6MzVKHE6obBj-tr4HMUpIdOPI
REACT_APP_FIREBASE_AUTH_DOMAIN=bookkeeping-211e6.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=bookkeeping-211e6
REACT_APP_FIREBASE_STORAGE_BUCKET=bookkeeping-211e6.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=572507957762
REACT_APP_FIREBASE_APP_ID=1:572507957762:web:1537249285d8af025d151b

# Backend API
REACT_APP_BACKEND_URL=http://localhost:8000

# Set to "true" to use Firebase emulators in development
REACT_APP_USE_FIREBASE_EMULATORS=false
